<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- SERVLETS -->
		<servlet>
			<servlet-name>StudyBuddies</servlet-name>
			<servlet-class>com.recursivebogosort.studybuddies.servlets.StudyBuddiesServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>StudyBuddies</servlet-name>
			<url-pattern>/studybuddies</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>GroupServlet</servlet-name>
			<servlet-class>com.recursivebogosort.studybuddies.servlets.GroupCreateServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GroupServlet</servlet-name>
			<url-pattern>/groupcreate</url-pattern>
		</servlet-mapping>
				<servlet>
			<servlet-name>EventServlet</servlet-name>
			<servlet-class>com.recursivebogosort.studybuddies.servlets.EventCreateServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>EventServlet</servlet-name>
			<url-pattern>/eventcreate</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>GetEventsServlet</servlet-name>
			<servlet-class>com.recursivebogosort.studybuddies.servlets.GetEventsServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GetEventsServlet</servlet-name>
			<url-pattern>/getevents</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>GetGroupServlet</servlet-name>
			<servlet-class>com.recursivebogosort.studybuddies.servlets.GetGroupServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GetGroupServlet</servlet-name>
			<url-pattern>/getgroupbycourse</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>GetGroupInfoServlet</servlet-name>
			<servlet-class>com.recursivebogosort.studybuddies.servlets.GetGroupInfoServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GetGroupInfoServlet</servlet-name>
			<url-pattern>/getgroupinfo</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>GetDepartmentsServlet</servlet-name>
			<servlet-class>com.recursivebogosort.studybuddies.servlets.GetDepartmentsServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GetDepartmentsServlet</servlet-name>
			<url-pattern>/getdepartments</url-pattern>
		</servlet-mapping>
	<!-- SERVLETS END -->

	<!-- FILTERS -->
		<filter>
			<filter-name>ObjectifyFilter</filter-name>
			<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
		</filter>
		<filter-mapping>
			<filter-name>ObjectifyFilter</filter-name>
				<url-pattern>/*</url-pattern>
		</filter-mapping>
		<listener>
			<listener-class>com.recursivebogosort.studybuddies.servlets.OfyHelper</listener-class>
		</listener>
	<!-- FILTERS END -->

	<welcome-file-list>
		<welcome-file>homepage.jsp</welcome-file>
	</welcome-file-list>
</web-app>
